body { 
    margin: 0;
    padding: 0;
}
        
#map { 
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; 
}

.map-overlay {
    font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
    padding: 10px;
}
    
.map-overlay .map-overlay-inner {
    background-color: #e5fcff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
    
.map-overlay label {
    display: inline-block;
    margin: 0 0 10px;
    }
    
.map-overlay input[type="range"] {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}

/* for the collapsible menu */
.collapsible {
    background-color: #e5fcff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    font-weight: 700;
}

.collapsible:hover {
    background-color: hsl(190, 49%, 85%);
}

/* icons that show depending on whether menu is opened/closed (-/+) */
.collapsible:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
}

input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    display: inline-block;
    margin-left: 24px;
    font-size: 18px;
    font-weight: bold;
    width: 275px;
    height: auto;
    cursor: pointer;
    color: #2a68a5;
  padding: 8px;
  font-family: Arial;
  background-color: #cff0f2;
  border-radius: 25px;
  }

#custom-text{
    margin-left: 10px;
    color: #aaa;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.hide {
    display: none;
}

/* // image urls taken from: http://fuzzytolerance.info/blog/2017/01/30/Pitch-toggle-control-for-Mapbox-GL-JS/ */
.mapboxgl-ctrl-dimensiontoggle-3d {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
}

.mapboxgl-ctrl-dimensiontoggle-2d {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
}


/* popups that appear upon clicking a wall */
.wall-popup .mapboxgl-popup-content {
    opacity: 1;
    background-color:orange;
    color: white;
    border-width: 10px;
    border-radius: 3px 3px 0 0;
    border-top-color: #444;
    border-top-width: 10%;
    box-shadow: 3px 3px 2px #8B5D33
}

.wall-popup .mapboxgl-popup-tip {
    border-top-color:orange;
}

/* popups that appear upon clicking an area */
.area-popup .mapboxgl-popup-content {
    opacity: 1;
    background-color:blue;
    color: white;

    box-shadow: 3px 3px 2px #6e6e6e
}

.area-popup .mapboxgl-popup-tip {
    border-top-color:blue;
}

/* DIV SCROLL */
.map-overlay-inner{
    overflow-y: auto;
    max-height: 87vh;
}

/* LEGEND */

#legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    line-height: 20px;
    height: 114px;
    margin-bottom: 40px;
    width: 203px;
  }

  .map-overlay-legend {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
  }

  .legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }

/* Tool tip css, taken from: https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.indicator-options-tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black;  */
    /* If you want dots under the hoverable text */
}
  
/* Tooltip text */
.indicator-options-tooltip .mytooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(131, 131, 131);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    width: 240px;
    bottom: 100%;
    left: 50%;
    margin-left: -120px; /* Use half of the width, to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.indicator-options-tooltip:hover .mytooltiptext {
    visibility: visible;
}

.file-upload-tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black;  */
    /* If you want dots under the hoverable text */
}
  
/* Tooltip text */
.file-upload-tooltip .mytooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(131, 131, 131);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    width: 240px;
    bottom: 100%;
    left: 110%;
    margin-left: -120px; /* Use half of the width, to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.file-upload-tooltip:hover .mytooltiptext {
    visibility: visible;
}

/* submit button css */
#submitOptions {
    background-color: #cff0f2; /* Green */
    border: none;
    color: #2a68a5;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    font-weight: bold;
  }
  