body { 
    margin: 0;
    padding: 0;
}
        
#map { 
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; 
}

.map-overlay {
    font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 35%;
    top: 0;
    left: 0;
    padding: 10px;
}
    
.map-overlay .map-overlay-inner {
    background-color: #e5fcff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
    
.map-overlay label {
    display: inline-block;
    margin: 0 0 10px;
    }
    
.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    /* cursor: ew-resize; */
}

input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    display: inline-block;
    margin-left: 24px;
    font-size: 20px;
    width: 275px;
    height: auto;
    cursor: pointer;
    color: #2a68a5;
  padding: 8px;
  font-family: Arial;
  background-color: #cff0f2;
  border-radius: 25px;
  }

#custom-text{
    margin-left: 10px;
    color: #aaa;
}

.hide {
    display: none;
  }