body {
    font-family: sans-serif;
    padding: 1rem;
    background: #ccc;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  input[type="submit"] {
    width: 100px;
  }
  textarea {
    width: 90%;
    height: 300px;
  }